<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlanner"
        tools:targetApi="31">
        <activity
            android:name=".controllers.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.AssessmentDetails"
            android:label="Assessment Details"
            android:exported="false" />
        <activity
            android:name=".controllers.Assessments"
            android:label="Assessments"
            android:exported="false" />
        <activity
            android:name=".controllers.CourseDetails"
            android:label="Course Details"
            android:parentActivityName=".controllers.Courses"
            android:exported="false" />
        <activity
            android:name=".controllers.Courses"
            android:label="Courses"
            android:parentActivityName=".controllers.TermDetails"
            android:exported="false" />
        <activity
            android:name=".controllers.TermDetails"
            android:label="Term Details"
            android:parentActivityName=".controllers.Terms"
            android:exported="false" />
        <activity
            android:name=".controllers.Terms"
            android:label="Terms"
            android:parentActivityName=".controllers.MainActivity"
            android:exported="false" />
    </application>

</manifest>